# .github/workflows/main.yml
name: Build Kivy APK with Buildozer

on:
  push:
    branches: [ "master", "main" ] # 当代码被推送到 master 或 main 分支时触发

jobs:
  build-android:
    runs-on: ubuntu-latest # 使用最新的 Ubuntu 服务器环境

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # 第一步：下载你的代码到服务器

      - name: Set up JDK 17
        uses: actions/setup-java@v4 # 第二步：安装 Java 环境
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Install Buildozer and dependencies
        run: |
              sudo apt-get update
              sudo apt-get install -y python3-pip autoconf libtool pkg-config zlib1g-dev libncurses-dev libtinfo6 cmake libffi-dev build-essential
              pip install --upgrade cython==0.29.34 buildozer
              
      - name: Set up Android SDK
        uses: android-actions/setup-android@v4

      - name: Accept Android SDK licenses
        run: yes | sdkmanager --licenses > /dev/null

      - name: Build the APK
        run: buildozer android debug
      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # 第五步：上传打包好的 APK 文件
        with:
          name: app-debug # 给这个文件起个名字
          path: bin/*.apk # 从 bin 文件夹下找到 .apk 文件
